Chameleon==2.11
Mako==0.8.1
MarkupSafe==0.18
PasteDeploy==1.5.0
WebOb==1.2.3
argparse==1.2.1
pyramid==1.4.2
repoze.lru==0.6
translationstring==1.1
venusian==1.0a8
waitress==0.8.5
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
